.product-image {
    width: 200px;
    border: 5px solid silver;

}

.product-title {
    color: darkblue;
    font-size: 25px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

/*.products_cs{*/
/*    !*display: flex;*!*/
/*    !*flex-direction: column;*!*/
/*    !*align-items: center;*!*/
/*    background: sandybrown;*/
/*    width: 700px;*/
/*    height: 700px;*/
/*}*/